<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.cywl.launcher.filemanager"
    android:sharedUserId="android.uid.system">

    <application
        android:name="com.cywl.launcher.filemanager.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_file"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_file_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.cywl.launcher.filemanager.activity.FileManagerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cywl.launcher.filemanager.fileProvnider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--   <provider
               android:name="com.cywl.launcher.documentmanagement.model.AppDataBase_Provider"
               android:authorities="com.cywl.launcher.documentmanagement.provider"
               android:exported="true" />-->
        <service
            android:name="com.cywl.launcher.filemanager.service.InitDataService"
            android:exported="false" />

    </application>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

</manifest>